@import "toastr/build/toastr.css";

.child-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5dvw;
  gap: 4dvw;
  width: 100dvw;
}
.child-game-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/rainbow.jpg");
}
.child-img-fluid {
  width: 13dvw;
  height: 12dvh;
  border: solid 2.5dvw var(--kids-color);
  border-radius: 5px;
}
.flip-counter,
.counter {
  margin-left: 35dvw;
  padding: 2dvh 2vw;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(207, 227, 245);
  justify-content: center;
  width: 15dvw;
}
.button-start-over {
  margin-bottom: 1dvh;
  width: 15dvw;
  height: 6dvh;
  border-radius: 2dvw;
  align-self: center;
  color: #f0c42d;
  background-color: black;
}
.child-card-header {
  display: flex;
  flex-direction: column;
  padding: 2dvh;
}
.child-card {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.child-card-text {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  font-size: small;
  padding: 5px;
}
@media screen and (min-width: 600px) {
  .child-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15dvw;
    gap: 4dvw;
    width: 77dvw;
  }

  .child-img-fluid {
    width: 8dvw;
    height: 20dvh;
    border: solid 1.4dvw var(--kids-color);
    border-radius: 15px;
  }
  .flip-counter,
  .counter {
    margin-left: 43.5dvw;
    padding: 2dvh 2vw;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    width: 5dvw;
  }
  .button-start-over {
    margin-bottom: 1dvh;
    width: 10dvw;
    height: 4dvh;
    border-radius: 2dvw;
    align-self: center;
  }
  .child-card-header {
    display: flex;
    flex-direction: column;
    padding: 2dvh;
  }

  .child-card {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .child-card-text {
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    padding: 5px;
  }
}
